body{
    background-color: rgb(89, 89, 226);
}

form{
    border: 1px solid wheat;
    color: aliceblue;
}

button{
    background-color: rgb(247, 0, 255);
    width: 80px;
    height: 30px;
    border: 1px solid wheat;
    color: aliceblue;
    font-weight: bolder;
}

